.ljd, .ttr, .badge{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.work{
    font-size: 50px;
    font-family: Oswald;
}

.when{
    font-size: 32px;
}

.infoDesc, .how{
    font-size: 24px;
}

.pic{
    padding-right:50px;
}
